:root {
  --left-drawer-width: 70px;
  --left-drawer-max-width: 240px;
  --secondary-color: #343a40;
  --overlay-color: #dbdde0a3;
  --background-color: #f4f6f9;
  --primary-color: white;
  --navbar-height: 55px;
}

* {
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
}
