* {
  margin: 0;
}

.dropdown {
  width: 150px;

  p {
    padding: 4px;
    text-align: center;
    background-color: blue;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: rgb(4, 4, 157);
    }
  }

  ul {
    display: none;
    list-style: none;
    padding: 0;
    background-color: lightblue;
    margin-top: -15px;

    li {
      padding: 3px;

      &:hover {
        background-color: rgb(86, 194, 231);
      }
    }
  }
}
